# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Poetry
poetry.lock

# PyCharm
.idea/
*.iml

# VSCode
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and system files
*.log
.DS_Store


#заметки по не реализованым/реализованным планам
notes.txt
implemented.txt

#пароли и настройи
*.env*

#Файлы миграций
db/migrations/versions/